<%- include(rootpath+'/partials/header') %>
<h1>Mentions légales</h1>
<section>
        <p>Nom : <%= mentions.first_name %></p>
        <p>Prénom: <%= mentions.last_name %></p>
        <p>Domicile: <%= mentions.location %></p>
</section>
<%- include(rootpath+'/partials/footer') %>