<%- include(rootpath+'/partials/header') %>
<section>
    <h1>Mentions légales</h1>
    <article>
        <p>Nom : <%= mentions.first_name %></p>
        <p>Prénom: <%= mentions.last_name %></p>
        <p>Domicile: <%= mentions.location %></p>
    </article>
</section>
<%- include(rootpath+'/partials/footer') %>